@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@500&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;500&display=swap");

#toorder {
  height: 40px;
  width: 120px;
  background-color: #6c5ce7;
  color: white;
  font-size: 18px;
  font-weight: 700;
  border-radius: 10px;
  border: 0 solid;
  font-family: "Roboto", sans-serif;
}
#button-div {
  display: flex;
  margin-top: 120px;
  padding-left: 496px;
}
